// ______________ COLORS
// Text
$text-primary: #fff;
$text-secondary: #6e774a;
$text-tertiary: #1c1c1b;
// Background
$main-bg: #f7f8f3;
// Selectors
$link-selector-color: #9db892;
$tab-selector-color: #ced6af;
// Borders
$border-white: 1px solid rgba(#fff, 0.5);
