@use "../abstract" as a;

.navigation {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;

    @include a.tablet {
        padding: 0;
        width: 100%;
    }

    &__items {
        position: fixed;
        text-align: center;
        text-transform: uppercase;
        color: a.$text-primary;
        background-color: rgba($color: #000, $alpha: 0.9);
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: all 1s ease;

        &--primary,
        &--secondary {
            left: 0;

            &.active {
                transform: translateX(0);
            }
        }

        &--primary {
            top: 0;
            transform: translateX(-100%);
            padding-top: 30px;

            @include a.tablet {
                width: 367px;
                justify-content: space-between;
                padding-top: 0;
                margin-left: 3%;
            }
        }

        &--secondary {
            bottom: 0;
            transform: translateX(100%);
            padding-bottom: 30px;

            @include a.tablet {
                width: 382px;
                border-left: a.$border-white;
                margin-left: 15%;
            }
        }

        @include a.tablet {
            position: static;
            transform: translateX(0);
            background-color: transparent;
            flex-direction: row;
            padding: 0;
        }
    }

    &__item {
        @include a.tablet {
            display: flex;
            align-items: center;
            padding: 31px 0 24px 0;
        }

        &--enclose {
            padding: 20px 0;
            border-top: a.$border-white;
            border-bottom: a.$border-white;

            &:hover {
                background-color: rgba(#fff, 0.2);

                @include a.tablet {
                    background-color: transparent;
                }
            }

            @include a.tablet {
                border-top: 0;
                border-bottom: 0;
                padding: 31px 0 24px 0;
            }
        }

        &--search {
            @include a.tablet {
                border-left: a.$border-white;
                border-right: a.$border-white;
                padding: 31px clamp(15px, 2.5vw, 33px) 24px clamp(15px, 2.5vw, 33px);
            }
        }
    }

    &__link {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -15px;
            width: calc(100% + 30px);
            height: 2px;
            background-color: a.$link-selector-color;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
        }

        &.active::before {
            visibility: visible;
            opacity: 1;
            transform: translate(0, -50%);
        }

        @include a.tablet {
            font-size: clamp(13px, 1.7vw, 16px);
            letter-spacing: 1px;
        }
    }

    &__icon {
        @include a.tablet {
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    &__logo-text {
        font-size: 30px;
        text-transform: uppercase;
        color: a.$text-primary;
        z-index: 1000;

        @include a.tablet {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__toggler {
        font-size: 18px;
        text-transform: uppercase;
        color: a.$text-primary;
        z-index: 1000;
        background-color: transparent;
        border: a.$border-white;
        padding: 6px 10px 7px 10px;
        cursor: pointer;
        line-height: 1;
        display: inline-flex;
        transition: all 0.3s ease;

        &:hover,
        &.active {
            box-shadow: inset 0 0 5px #fff;
        }

        &-line {
            position: relative;
            display: inline-block;
            background-color: #fff;
            margin: auto 0 auto 5px;
            width: 20px;
            height: 3px;
            transition: all 0.3s ease;
            transform: rotate(90deg);

            &.active {
                background-color: transparent;
                transform: rotate(270deg);

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 30%;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    transform: rotate(90deg);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -30%;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    transform: rotate(90deg);
                }
            }
        }

        @include a.tablet {
            display: none;
        }
    }
}
